.burger__button {
  display: inherit;
  background-image: url(../../../images/menu.svg);
  background-size: 100%;
  /* background-repeat: no-repeat; */
  background-position: center;
  background-color: transparent;
  flex-shrink: 0;
  box-sizing: border-box;
  border: none;
  padding: 0;

  width: 44px;
  height: 44px;
}

.burger__button:hover {
  opacity: 0.7;
}

.burger__button_main {
  background: #ffffff;
  -webkit-mask-image: url(../../../images/menu.svg);
  mask-image: url(../../../images/menu.svg);
}

.burger__popup {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 520px;
  height: 100%;

  padding: 10px;
  box-sizing: border-box;
  transition: opacity 600ms, visibility 600ms;
  z-index: 5; 
  display: none;
}

.burger__popup_open {
  display: flex;
  flex-direction: column;
  align-items: center;
}
