.cards {
  padding: 29px 70px 48px;
  min-height: 50px;
  /* background-color: wheat; */
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 270px);
  gap: 30px 20px;
  padding: 0;

  list-style: none;
  /* width: 100%; */
}

.cards__button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px 0;
}

.cards__button {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;

  height: 36px;
  border: none;
  background-color: #3456f3;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  width: 320px;
}

.cards__button:hover {
  opacity: 0.8;
}

.cards__button_inactive {
  pointer-events: none;
  background: #f8f8f8;
  color: #000000;
}

.cards__error-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards__error {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  color: #ff004c;
}



@media screen and (max-width: 1000px) {
    .cards {
        padding: 24px 30px 40px;
        min-height: 50px;
        /* background-color: wheat; */
      }

    .cards__list {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 339px);
        gap: 23px 30px;
        padding: 0;
      
        list-style: none;
        /* width: 100%; */
      }
  }
  
  @media screen and (max-width: 500px) {
    .cards {
        padding: 10px 10px 48px;
        min-height: 50px;
        /* background-color: wheat; */
      }

    .cards__list {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 26px 30px;
        padding: 0;
      
        list-style: none;
        /* width: 100%; */
      }
  }
  