.profile__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
  letter-spacing: 0em;
  text-align: center;
  margin: 74px 0;
}

.profile__input-containers {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0 auto;
  margin-top: 120px;
  min-height: 200px;
}

.profile__input-container {
  margin: 0 auto;
  width: 410px;
  padding: 1px 0;
}

.profile__input-container:not(:first-of-type) {
  border-top: 1px solid #e8e8e8;
  margin-top: 12px;
  padding-top: 15px;
}

.profile__field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 147px;
}

.profile__label {
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
  padding: 3px 0;
}

.profile__input {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: right;
  width: 122px;
  height: 14px;
  border: none;
  padding: 2px 0px;
}

.profile__input:focus  {
  outline: 1px solid rgba(43, 224, 128, 0.4);
}

.profile__input-error {
  color: #ff3055;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  min-height: 15px;
  margin: 0;
  padding: 0;
}

.profile__error-container {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: center;
  color: #ff004c;
  margin: 17px 0;
  height: 50px;
}

.profile__button-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.profile__edit-button {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  border: none;
  cursor: pointer;
  margin: 0 auto 0;
  padding: 13px auto 15px;
  background-color: #ffffff;
}

.profile__edit-button:hover{
  opacity: 0.8;
}

.profile__save-button {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  height: 45px;
  border: none;
  background-color: #3456f3;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  width: 410px;
}

.profile__save-button:hover {
  opacity: 0.8;
}

.profile__save-button_inactive {
  pointer-events: none;
  background: #f8f8f8;
  color: #c2c2c2;
}

.profile__logout {
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #ff3055;
  border: none;
  cursor: pointer;
  margin: 14px auto 0;
  background-color: #ffffff;
}

.profile__logout:hover{
  opacity: 0.8;
}

@media screen and (max-width: 1000px) {
  .profile__title {
    margin: 236px 0 0;
  }

  .profile__input-containers {
    margin-top: 93px;
  }

  .profile__save-button {
    margin: 24px auto 0;
  }

  .profile__error-container {
    margin: 12px 0;
  }
}

@media screen and (max-width: 500px) {
  .profile__title {
    margin: 70px 0 0;
  }

  .profile__input-containers {
    margin-top: 77px;
  }

  .profile__input-container {
    width: 260px;
  }

  .profile__field {
    gap: 0 10px;
  }

  .profile__button-container {
    margin: 125px auto 0;
  }

  .profile__error-container {
    margin: 69px 0;
  }

  .profile__save-button {
    margin: 24px auto 0;
  }

  .profile__edit-button {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__logout {
    font-size: 12px;
    line-height: 15px;
    
  }
}
