.saved-movies {
    min-height: 400px;
    padding: 0 70px;
  }
  
  @media screen and (max-width: 1000px) {
      .saved-movies {
        padding: 0 30px;
      }
  }
  
  @media screen and (max-width: 500px) {
      .saved-movies {
        padding: 0 14px;
      }
  }